{{> head }}
{{> navbar}}

<div class="row">

    <div class="col-8">

        <h1>Node.JS El mejor Lenguaje de Backends</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla ullam odit voluptate itaque quo assumenda facilis, in nihil ut dolores tempore aut architecto temporibus inventore nisi quod. Consequatur, blanditiis magni.</p>
    </div>

    <div class="col-4">

        <img src="assets/img/node-img.jpg" class="img-thumbnail">
        
    </div>


</div>


{{> footer}}